.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

/*INDEX - Portrait*/
#outerPortrait {
  border: 1px solid black;
  width: 800px;
  height: 600px;
  display: block;
  padding: 15px 12px;
  background-color: silver;
  position: relative;
  border-radius: 8px;
  margin: 0 auto;
}

#innerPortrait {
  border: 1px solid black;
  width: 790px;
  height: 590px;
  display: block;
  background-color: yellow;
  position: relative;
  border-radius: 5px;
  margin: 0 auto;
}

.contextOn {
  display: block;
}

.contextOff {
  display: none;
}
/*#app {
  display: inline;
  position: relative;
}*/

.red {
  color:red;
}

.square {
  border: 1px solid black;
  width: 10px;
  height: 10px;
}

.year {
  border: 1px solid black;
  height: 25px;
  width:25px;
  float:left;
  transform: rotate(45deg);
  margin: 1%;
  transition: 1s;
  /*display: inline;*/
  /*position: relative;*/
}
.yearFill {
  border: 1px solid black;
  height: 25px;
  width:25px;
  float:left;
  transform: rotate(45deg);
  margin: 1%;
  background-color:black;
  transition: 1s;
  /*display: inline;*/
}

.year:hover {
  /*float: none;*/
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: 1s;
  z-index: 2;
}

.yearFill:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: 1s;
  z-index: 2;
}

.month {
  border: 2px solid black;
  height: 30px;
  width: 30px;
  float:left;
  border-radius: 50%;
  transition: 1s;
}
.monthFill {
  border: 2px solid black;
  height: 30px;
  width:30px;
  float:left;
  border-radius: 50%;
  background-color:black;
}
/* .week {
  border: 1px solid black;
  height: 25px;
  width:25px;
  float:left;
  transform: rotate(45deg);
  margin: 1%;
}

.weekFill {
  border: 1px solid black;
  height: 25px;
  width:25px;
  float:left;
  transform: rotate(45deg);
  margin: 1%;
  background-color:black;
} */

.day {
  border: 1px solid black;
  height: 5px;
  width:5px;
  float:left;
 
}

.dayFill {
  border: 1px solid black;
  height: 5px;
  width:5px;
  float:left;
  background-color:black;

}

.completed {
  background-color:black;
}

.week {
  position: relative;
  float:left;
  width: 20px; 
  height: 11.55px;
  background-color: #ffffff;
  margin: 6.77px 0;
  border-left: solid 1px #333333;
  border-right: solid 1px #333333;

}

.week:before,
.week:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 14.14px;
  height: 14.14px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 1.9289px;
 
}

.week:before {
  top: -7.0711px;
  border-top: solid 1.4142px #333333;
  border-right: solid 1.4142px #333333;
  transition: 1s;
}

.week:after {
  bottom: -7.0711px;
  border-bottom: solid 1.4142px #333333;
  border-left: solid 1.4142px #333333;
 
}

.weekFill {
  position: relative;
  float:left;
  width: 20px; 
  height: 11.55px;
  background-color: #000000;
  margin: 6.77px 0;
  border-left: solid 1px #333333;
  border-right: solid 1px #333333;

}

.weekFill:before,
.weekFill:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 14.14px;
  height: 14.14px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 1.9289px;
}

.weekFill:before {
  top: -7.0711px;
  border-top: solid 1.4142px #333333;
  border-right: solid 1.4142px #333333;
}

.weekFill:after {
  bottom: -7.0711px;
  border-bottom: solid 1.4142px #333333;
  border-left: solid 1.4142px #333333;
}

/* Modal */
.modalOn {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modalOff {
    display: none;  Hidden by default 
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    height: 600px;
}

/* Candle */
.wrapper {
  border: 1px solid red;
  height: 200px;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
  /*overflow: hidden;*/
  background: #2c3e50;
  color: #fff;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.candle {
  position: absolute;
  width: 60px;
  height: 100px;
  top: 160px;
  left: 170px;
  background: #fff;
  border-radius: 3px;
  box-shadow: inset -10px 0 0 0 #E0E5FF;

  .shadow {
    position: absolute;
    width: 120px;
    height: 8px;
    background: #1B233E;
    bottom: -8px;
    left: -30px;
    border-radius: 3px;
  }

  .wick {
    position: absolute;
    width: 4px;
    height: 15px;
    top: -15px;
    left: 28px;
    background: #AD88A9;
    border-radius: 2px 2px 0 0;
  }
  
  .flame {
    position: absolute;
    width: 16px;
    height: 26px;
    top: -32px;
    left: 22px;
    background: #FFAD00;
    border-radius: 8px 8px 8px 8px / 20px 20px 8px 8px;
    animation: 
      wind 15s ease-in-out infinite, 
      size 20s ease-in-out infinite, 
      flickr 5s ease-in-out infinite;
    transform-origin: 50% 100%;
  }

}

@keyframes wind {
  0%, 22%, 49%, 62%, 81%, 100% {
    border-radius: 2px 14px 8px 8px / 20px 20px 8px 8px;
  }
  14%, 32%, 56%, 70%, 89% {
    border-radius: 14px 2px 8px 8px / 20px 20px 8px 8px;
  }
}

@keyframes size {
  0%, 22%, 49%, 62%, 81%, 100% {
    transform: scale(1,1);
  }
  14%, 32%, 56%, 70%, 89% {
    transform: scale(0.9, 1.2);
  }
}

@keyframes flickr {
  0%, 22%, 49%, 62%, 81%, 100% {
    box-shadow: 0 0 20px 0 rgba(255,202,0,0.7);
  }
  14%, 32%, 56%, 70%, 89% {
    box-shadow: 0 0 20px 0 rgba(255,202,0,.8);
  }
}